
body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 80px;
    font-weight:600;
    color: #192b59;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
}

 .btn-free {
     color:#fff;
     font-weight: 400;
     background-color: #1085e4;

 }
 .grid h2 {
     font-size: 40px;
     color: #192b59;
     font-weight: 700;
 }
 .grid h2 span {
     font-size: 14px;
     color: #1085e4;
     display: block;

 }
 .grid-item h3
 {
font-size: 20px;
font-weight: 600;
color: #192b59;
 }

 .grid-item a {
     font-size: 14px;
     color: #1085e4;
     font-weight: 600;
 }